{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rokkitt&display=swap" rel="stylesheet">
</head>
<body>
<div id="d1">
 
  <p id="p1">SAMPLE HOME PAGE</p>
</div>


<body id="body1">
 <h2><b>GREAT..!</b></h2>

 <h3><b><i> HOME PAGE IS WORKING</i></b></h3>




</html>